<!-- Extending the base layout -->
{% extends 'base.html' %}

{% block content %}
<!-- heading for the add game form -->
<h2 id="titlepage2">Add a New Game</h2>

<!-- Form to submit a new game-->
<form action="upload.php" method="post"
enctype="multipart/form-data">
    <!-- Input fields for the game details -->
    <label id="addlabel" for="title">Title</label>
    <input type="text" name="title" id="title" required><br><br> <!-- Game title -->    

    <label id="addlabel" for="logo">Logo</label>
    <input type="file" id="imageUpload" name="logo" accept="image/*"><br><br> <!-- Game Logo -->    

    <label id="addlabel" for="platform">Platform</label>
    <input type="text" name="platform" id="platform" required><br><br> <!-- Game platform -->

    <label id="addlabel" for="genre">Genre</label>
    <input type="text" name="genre" id="genre" required><br><br> <!-- Game genre -->

    <label id="addlabel" for="year">Year</label>
    <input type="number" name="year" id="year" required><br><br> <!-- Release year -->

    <label id="addlabel" for="sales">Sales (in millions)</label>
    <input type="number" step="0.01" name="sales" id="sales" required><br><br> <!-- Sales data -->

    <!-- Button to submit the form -->
    <button id="addbutton" type="submit">Add Game</button>

{% endblock %}
