<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This defines the character set and makes the page mobile-friendly -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sales App</title>
    <!-- Link to the CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<!-- This template extends the base template, so it inherits the layout from base.html -->
{% extends 'base.html' %}

<!-- This is the content that will be inserted into the content block in base.html -->
{% block content %}
<div id="homebackground">
    <img src="{{ url_for('static', filename='steambackground.jpg') }}" alt="steamlibrary">
    <div id="title">
        <p>Welcome to the Game Sales App!</p>
    </div>
<p id=desc>Use the navigation menu to view, add, edit, or delete game sales data.</p>

    <form style="display: inline" action="{{ url_for('add_game') }}" method="get">
        <button>Add A Game!</button>
    </form>
</div>
{% endblock %}