@font-face {
    font-family: Gluegun;
    src: url(GlueGun-GW8Z.ttf) format("truetype");
}

*{
    box-sizing: border-box;
}
#container{
    width: 1920px;
    height: 1080px;
    background-color: rgb(248, 248, 248);
    text-align: center;
}
h1{

}
nav{

}
#editbutton{
    all: unset;

}
#editbutton:hover{

}
a{

}
a:hover {
    background-color: rgb(86, 86, 86);
    color: gainsboro;
}
#upper{

}
p{

}
h2{

}
th{

}
table{
    width: 1920px;
    padding-top: 10px;
    padding-left: 600px;
    padding-right: 600px;
    text-align: center;
}