@font-face {
    font-family: Gluegun;
    src: url(GlueGun-GW8Z.ttf) format("truetype");
}
@font-face {
    font-family: Arial;
    src: url(FreeSansBold-Xgdd.ttf);
}
.button{
    all: unset; 
    background-color: #1f1f2c;
    color: #bdc8ff;
    border-style: solid;
    border-left: 2px;
    border-top: 0px;
    border-bottom: 0px;
    width: 251px;
    height: 30px;
    padding: 10px;
    float: left;
    text-align: center;
    margin: 0px;
}
.button:hover{
    background-color: #2d2d3f;
    color: #bdc8ff; 
}
table{
    text-align: center;
    width: 1200px;
    margin-left: 352px;
}
form{
    overflow: hidden;
    z-index: 50;
    transform: translateY(-420px);
    width: 700px;
    margin: 0 auto;
    color: #bdc8ff;
    text-align: right;

}

#titlepage2{
    z-index: 10;
    font-family: Arial;
    font-size: 100pt;
    color: #bdc8ff;
    position: relative;
    width: 1000px;
    margin-left: 200px;
    margin-top: 150px;
}
th{
    height: 10px;
    border-left: 2px;
    border-bottom: 0px;
    border-top: 2px;
    border-right: 2px;
    font-size: 20pt;
    border-color: #bdc8ff;
    border-style: solid;
    color: #bdc8ff;
    padding: 20px;
}
td{
    color: #bdc8ff;
    border-color: #bdc8ff;
    border: 1px;
    border-style: double;
}
#addlabel{
    all: unset;
    padding-right: 20px;
    font-size: 20pt;
    margin-top: -10px;
}
input{
    background-color: #2d2d3f;
    color: #bdc8ff;
    border-color: #bdc8ff;
    height: 35px;
    transform: translateY(-2px);
    font-size: 10pt;


}
*{
    box-sizing: border-box;

}
html, body {
    height: 100px;
    padding: 0;
    background-color: #1f1f2c;    
}
#container{
    height: 0px;
}

#homebackground{
    background-color: #1f1f2c;
    translate: -8px -26px;
    width: 1912px;
    overflow: hidden;
    height: 826px;
}

#homebackground img{
    opacity: 20%;
    width: 1900px;
    height: 1000px;
    z-index: 5;
}

#titlepage{
    transform: translateY(-1020px);
    z-index: 10;
    font-family: Arial;
    font-size: 100pt;
    color: #bdc8ff;
    position: relative;
    width: 1000px;
    margin-left: 100px;
}

#desc{
    float: right;
    margin-right: 200px;
    font-size: 30pt;
    width: 600px;
    color: #bdc8ff;
    transform: translateY(-1540px);
    z-index: 10;
    text-align: center;
}
#addbutton{
    all: unset;
    width: 100px;
    height: 15px;
    z-index: 20;
    display: block;
    color: #bdc8ff;
    border-style: solid;
    border-width: 1px;
    background-color: #2d2d3f;
    text-align: center;
    padding: 10px;
    transform: translateX(550px);
    margin-top: 10px;
}
#addbutton:hover{
    color: #bdc8ff;
    background-color: #3e3e57;
    
}
#homebackground button{
    all: unset;
    width: 200px;
    height: 15px;
    z-index: 20;
    border-style: solid;
    border-width: 1px;
    transform: translateY(-1555px);
    display: block;
    color: #bdc8ff;
    background-color: #1f1f2c;
    text-align: center;
    padding: 33px;
    margin-left: 1280px;
}

#homebackground button:hover{
    color: #bdc8ff;
    background-color: #2d2d3f;
    
}

nav{
    background-color: #1f1f2c;
    position: relative;
    translate: -8px -8px;
    width: 1903px;
}

h1{
    background-color: #1f1f2c;
    margin: 0;
    font-size: 40pt;
    font-family: Arial;
    text-align: left;
    color: #bdc8ff;
    position: relative;
    padding-bottom: 20px;
    padding-left: 35px;
    z-index: 11;
}

.righth1{
    color: #1f1f2c;
    -webkit-text-stroke: #bdc8ff;
    -webkit-text-stroke-width: 1px;
    margin-left: -20px;
    z-index: 2;
}

ul, h1{
    display: inline-block;
}

li a {
    height: 80px;
    display: block;
    color: #bdc8ff;
    background-color: #1f1f2c;
    text-align: center;
    padding: 33px;
    text-decoration: none;
}

li a:hover, #homebackground button:hover{
    background-color: #2d2d3f;
    color: #bdc8ff;
}

.active {
    background-color: #1f1f2c;
    color: #bdc8ff;
}

#upper{
    font-family: Arial;
    font-size: 50pt;
}

ul {    
    height: 80px;
    list-style-type: none;
    border: #000c02;
    margin: 0;
    text-align: center;
    margin-left: 324px;
    padding: 0;
    overflow: hidden;
    background-color: #3f280e;
    transform: translateY(20px);
}

li {
    display: inline;
    float: left;
}

#editbutton{
}

#editbutton:hover{}

a{}

a:hover {
    background-color: rgb(86, 86, 86);
    color: gainsboro;
}

#upper{}

p{}

h2{}

th{}

