<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FortniteWebsite</title>
</head>

<body>
    <div id="container">
        <h1>Fortnite by Epic Games</h1>
        <div>
            <p>Fortnite is an online video game developed by Epic Games and released in 2017. It is available in three distinct game mode versions that share the same general gameplay and game engine: Fortnite Battle Royale, a free-to-play battle royale game in which up to 100 players fight to be the last person standing; Fortnite: Save the World, a cooperative hybrid tower defense-shooter and survival game in which up to four players fend off zombie-like creatures and defend objects with traps and fortifications they can build; and Fortnite Creative, in which players are given complete freedom to create worlds and battle arenas. The game has become a cultural phenomenon, attracting a massive player base and being known for its vibrant graphics, innovative building mechanics, and crossover events with other popular media franchises.</p>
        </div>
        <div id="image1" class="image">
            <img id="wreckedthumbnail" src="static\main.jpg" alt="wreckedthumbnail">
        </div>
        <h1>Fortnite Battle Royale</h1>
        <div class="paragraph">
            <p>Fortnite Battle Royale is the most popular mode, involving a large-scale fight where players can either go solo, duo, or team up in squads to compete against other players. Players start by dropping onto the game map from a "Battle Bus" and must scavenge for weapons, resources, and items while trying to survive against other players. The play area of the map gradually shrinks, forcing players into closer encounters. This mode is free-to-play, supported by microtransactions in the form of cosmetic items like skins, emotes, and battle passes that unlock rewards. Fortnite Battle Royale has been praised for its accessibility, constant updates, and the way it combines elements of building and shooting in a competitive setting.</p>
        </div>
        <div id="image2" class="image">
            <img id="marvelthumbnail" src="static\marvel.jpg" alt="marvelthumbnail">
        </div>
        <h1>Fortnite Creative</h1>
        <div class="paragraph">
            <p>Fortnite Creative is a sandbox mode that allows players to build their own custom maps and game modes. This mode gives players the freedom to create whatever they want using the assets from the Fortnite world. Players can experiment with different game mechanics, build elaborate structures, and invite friends to play on their custom maps. The community has embraced this mode, creating a variety of unique and fun experiences that go beyond the traditional Battle Royale gameplay. Fortnite Creative has also been used for educational purposes, where teachers and students use the platform to create interactive learning environments and explore new ways of learning.</p>
        </div>
        <div id="image3" class="image">
        <img id="creativethumbnail" src="static\creative.jpg" alt="creativethumbnail">
        </div>
        <div id="hyperlink">
            <a href="https://www.fortnite.com/download?lang=en-US">Download Fortnite Here</a>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>