{% extends 'index.html'%}

{% block content %}
<h1>Sign Up Your Squad!</h1>
<form action="" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="e.g. John" required><br><br>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="e.g. HappyPotato685" required><br><br>

    <label for="rank">Rank (current season)</label>
    <input type="text" id="rank" name="rank" placeholder="e.g. Silver II" required><br><br>

    <label for="role">Role</label>
    <input type="text" id="role" name="role" placeholder="e.g. IGL" required><br><br>

    <label for="crowns">Crown Wins</label>
    <input type="text" id="crowns" name="crowns" placeholder="e.g. 10" required><br><br>

    <button type="submit">Submit</button>
</form>
{% endblock %}